@use 'sass:color';
@use '../../styles/settings/settings.colors' as colors;
@use '../../styles/settings/settings.globals' as globals;
@use '../../styles/settings/settings.typography' as typography;

.c-product-filter {
  position: relative;
  width: 100%;
  margin-top: globals.$spacing-sm;

  // Override trigger to be full-width
  &__trigger {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__item-label {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__empty {
    padding: globals.$spacing-md;
    text-align: center;
    font-size: typography.$font-size-small;
    font-style: italic;
    color: colors.$color-muted;
  }
}
