@use '../../styles/settings/settings.colors' as colors;
@use '../../styles/settings/settings.globals' as globals;
@use '../../styles/settings/settings.typography' as typography;

.c-footer {
  width: 100%;
  padding: globals.$spacing-md globals.$spacing-lg;
  background-color: colors.$color-surface;
  border-top: globals.$border-utility;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: typography.$font-size-xs;
  color: colors.$color-muted;
  z-index: 250;

  &__text {
    margin: 0;
    font-weight: typography.$font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
