* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

main {
	flex: 1 auto;
	display: flex;
}

.map {
	width: 100%;
	min-height: 100%;
}
