@use 'settings.colors' as colors;

$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-md: 1rem; // 16px
$spacing-lg: 1.5rem; // 24px
$spacing-xl: 2rem; // 32px

$border-width-utility: 0.125rem; // 2px
$border-utility: $border-width-utility solid colors.$color-text;

$radius-standard: 0.25rem; // 4px
$radius-pill: 6.1875rem; // 99px

$shadow-utility: 0.25rem 0.25rem 0px colors.$color-text; // 4px
$shadow-active: 0.0625rem 0.0625rem 0px colors.$color-text; // 1px

$press-transform: translate(0.1875rem, 0.1875rem); // 3px
