@use '../settings/settings.colors' as colors;
@use '../settings/settings.globals' as globals;

@mixin utility-shadow($offset: globals.$spacing-xs) {
  box-shadow: $offset $offset 0px colors.$color-text;
}

@mixin mechanical-press(
  $shadow-offset-active: 0.0625rem,
  $transform-offset: 0.1875rem
) {
  &:active {
    transform: translate($transform-offset, $transform-offset);
    box-shadow: $shadow-offset-active $shadow-offset-active 0px colors.$color-text;
  }
}
