* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > main {
    flex: 1 auto;

    &.home {
      display: flex;
    }
  }
}
