$primary-color: rgb(112, 76, 182);
$primary-bg: rgba($primary-color, 0.1);

.select {
  font-size: 25px;
  padding: 5px 5px 2px;
  outline: none;
  border: 2px solid transparent;
  color: $primary-color;
  cursor: pointer;
  background-color: $primary-bg;
  border-radius: 5px;
  transition: all 0.15s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
